%helper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%helper-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%helper-clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
